#soundsystem-content {
  /*  display: flex;
    justify-content: space-around;
    */
    display: grid;
    grid-template-columns: 0.7fr 0.3fr;
    grid-template-rows: 0.7fr 0.2fr;
    grid-template-areas:
    "buildedsono inventory"
    "unbuild .";
}

#build {
    height: 710px;
    width: 720px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

#inventory {
  /*  height: 710px; */
    width: 40vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 1.4em;
    margin-right:5%;
    grid-area: inventory;
}

.category {
    background-color: var(--color2);
    color: var(--color4);
    border-radius: 5px;
    padding: 0.5em 0 0.5em 0;
    width: 100%;
    font-size: 0.7em;
    font-weight: bold;
}

.inventoryLine {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    grid-template-rows: 1fr;
    align-items: center;
    width: 100%;
    font-weight: bold;
    padding: 1% 0 1% 0;
}

.boxbutton {
    zoom: 50%;
}

.inventoryNumber {
    font-size: 0.7em;
}

#topteknobutton {
    background-image: url(https://cloudflare-ipfs.com/ipfs/QmaCyhjGKVv7ctGTqxD9zDEWvuHM12tWYqPAo2kD8HLeDt);
    height: 30px;
    width: 145px;
    background-size: 100%;
    margin: 1%;
}

#midteknobutton {
    background-image: url(https://cloudflare-ipfs.com/ipfs/QmUNgESyVv65FCnRFAFQidd6vcf9szgJ6Zux7fygsFT9mv);
    height: 90px;
    width: 80px;
    background-size: 100%;
    margin: 1%;
}

#kickteknobutton {
    background-image: url(https://cloudflare-ipfs.com/ipfs/QmbRmEBegpTQHbtthHK8UioPkwp9og3fKPuPmjKoF3bh8Q);
    height: 70px;
    width: 80px;
    background-size: 100%;
    margin: 1%;
}

#subteknobutton {
    background-image: url(https://cloudflare-ipfs.com/ipfs/QmNvRYe3aWUXPFmsAVrARB8iK4TtcDXn6oaFwybAZcpauL);
    height: 165px;
    width: 90px;
    background-size: 100%;
    margin: 1%;
}

#topdubbutton {
    background-image: url(https://cloudflare-ipfs.com/ipfs/QmXAMdL2TpUj8KYwQ6YcASDeVjKnnsf3rFt9kaV6ELAess);
    height: 30px;
    width: 145px;
    background-size: 100%;
    margin: 1%;
}

#middubbutton {
    background-image: url(https://cloudflare-ipfs.com/ipfs/QmTeCKCpKnEuWgzLmhy5YTvMB1wurvXA8FtZugGwo1gvk8);
    height: 90px;
    width: 80px;
    background-size: 100%;
    margin: 1%;
}

#kickdubbutton {
    background-image: url(https://cloudflare-ipfs.com/ipfs/QmbSyj8sHkHjvuf7TMB5H4x5usDxsWNhGATVxCVwPzYz4j);
    height: 70px;
    width: 80px;
    background-size: 100%;
    margin: 1%;
}

#subdubbutton {
    background-image: url(https://cloudflare-ipfs.com/ipfs/QmX195iGxKaK5JQEHmBNs1JGERyfvWFXKx8x5jjWnEhzaR);
    height: 165px;
    width: 90px;
    background-size: 100%;
    margin: 1%;
}

#topjunglebutton {
    background-image: url(https://cloudflare-ipfs.com/ipfs/QmYfARoTJZSghovyQj6ukVepZkn8YRUhX51Ro9RAqfPkDk);
    height: 30px;
    width: 145px;
    background-size: 100%;
    margin: 1%;
}

#midjunglebutton {
    background-image: url(https://cloudflare-ipfs.com/ipfs/QmTi2adypcZoBWnSL6yzprCPUnKHQWixe7kXyZsp7BeQu7);
    height: 90px;
    width: 80px;
    background-size: 100%;
    margin: 1%;
}

#kickjunglebutton {
    background-image: url(https://cloudflare-ipfs.com/ipfs/QmaxPAto9RbRRRAmN6oPPbDxfnYGvubs5XGDhbdKSjmrWb);
    height: 70px;
    width: 80px;
    background-size: 100%;
    margin: 1%;
}

#subjunglebutton {
    background-image: url(https://cloudflare-ipfs.com/ipfs/QmaM1ozSSXSdr3v1TBAQdibgMkoSFy3RS6cJokwrN1FXzE);
    height: 165px;
    width: 90px;
    background-size: 100%;
    margin: 1%;
}

#rendertop {
    height: 60px;
    width: 580px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#rendermid {
    height: 180px;
    width: 640px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#renderkick {
    height: 140px;
    width: 640px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#rendersub {
    height: 330px;
    width: 720px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#buildedsono {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-area: buildedsono;
}

.button {
    font-family: 'Exo', sans-serif;
    width: 10em;
    height: 3em;
    border: 1px solid var(--color1);
    justify-self: center; /* horizontal align in grid */
    align-self: center; /* vertical align in grid */
    margin-top: 4%;
    border-radius: 10%;
    color: var(--color3);
    background-color: var(--color2);
    box-shadow: 0.6em 0.6em 2em 0.5em var(--color1), 0 0 0.4em 0.4em var(--color1); 
    transition: color .3s, background-color .2s, box-shadow .25s; /* Animation */
    grid-area: unbuild;
}

.button:hover {
    color: var(--color4);
    background-color: var(--color1);
    box-shadow: 0 0 0.4em 0.4em var(--color4); 
}

.button:active {
    color: var(--color3);
    background-color: var(--color1);
    box-shadow: 0 0 0.4em 0.4em var(--color4); 
}

.mintbutton {
    grid-column: 3 / 4;
    font-family: 'Exo', sans-serif;
    font-size: 0.5em;
    width: 4em;
    height: 2em;
    border: 1px solid var(--color1);
    justify-self: end; /* horizontal align in grid */
    margin-right: 5%;
    align-self: center; /* vertical align in grid */
    border-radius: 10%;
    color: var(--color3);
    background-color: var(--color2);
    box-shadow: 0.2em 0.2em 0.2em 0.2em var(--color1), 0 0 0.2em 0.2em var(--color1); 
    transition: color .3s, background-color .2s, box-shadow .25s; /* Animation */
}

.mintbutton:hover {
    color: var(--color4);
    background-color: var(--color1);
    box-shadow: 0 0 0.4em 0.4em var(--color4); 
}

.mintbutton:active {
    color: var(--color3);
    background-color: var(--color1);
    box-shadow: 0 0 0.4em 0.4em var(--color4); 
}
