#soundsystem-content {
    display: flex;
    justify-content: space-around;
    border: 1px solid black;
    color: black;
}

#build {
    height: 710px;
    width: 720px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#inventory {
    background-color: pink;
  /*  height: 710px; */
    width: 40vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 1.5em;
}

.category {
    background-color: lightblue;
    padding: 0.5em 0 0.5em 0;
    width: 100%;
}

.inventoryLine {
    display: flex;
    align-items: center;
    width: 100%;
}

.boxbutton {
    zoom: 50%;
}

.inventoryNumber {
    font-size: 0.7em;
}

#topteknobutton {
    background-image: url(../../pictures/toptekno.png);
    height: 30px;
    width: 145px;
    background-size: 100%;
    margin: 1%;
}

#midteknobutton {
    background-image: url(../../pictures/midtekno.png);
    height: 90px;
    width: 80px;
    background-size: 100%;
    margin: 1%;
}

#kickteknobutton {
    background-image: url(../../pictures/kicktekno.png);
    height: 70px;
    width: 80px;
    background-size: 100%;
    margin: 1%;
}

#subteknobutton {
    background-image: url(../../pictures/subtekno.png);
    height: 165px;
    width: 90px;
    background-size: 100%;
    margin: 1%;
}

#topdubbutton {
    background-image: url(../../pictures/topdub.png);
    height: 30px;
    width: 145px;
    background-size: 100%;
    margin: 1%;
}

#middubbutton {
    background-image: url(../../pictures/middub.png);
    height: 90px;
    width: 80px;
    background-size: 100%;
    margin: 1%;
}

#kickdubbutton {
    background-image: url(../../pictures/kickdub.png);
    height: 70px;
    width: 80px;
    background-size: 100%;
    margin: 1%;
}

#subdubbutton {
    background-image: url(../../pictures/subdub.png);
    height: 165px;
    width: 90px;
    background-size: 100%;
    margin: 1%;
}

#topjunglebutton {
    background-image: url(../../pictures/topjungle.png);
    height: 30px;
    width: 145px;
    background-size: 100%;
    margin: 1%;
}

#midjunglebutton {
    background-image: url(../../pictures/midjungle.png);
    height: 90px;
    width: 80px;
    background-size: 100%;
    margin: 1%;
}

#kickjunglebutton {
    background-image: url(../../pictures/kickjungle.png);
    height: 70px;
    width: 80px;
    background-size: 100%;
    margin: 1%;
}

#subjunglebutton {
    background-image: url(../../pictures/subjungle.png);
    height: 165px;
    width: 90px;
    background-size: 100%;
    margin: 1%;
}

#rendertop {
    height: 60px;
    width: 580px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#rendermid {
    height: 180px;
    width: 640px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#renderkick {
    height: 140px;
    width: 640px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#rendersub {
    height: 330px;
    width: 720px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#buildedsono {
    display: flex;
    flex-direction: column;
    align-items: center;
}