#navbar {
    width: 100vw;
    color:var(--color3);
    background-color: var(--color1);
    display: flex;
    flex-direction: row;
   /* overflow: hidden; */
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    left: 0;
    text-decoration: none;
}

.navbarItem {
    width: 10vw;
    padding: 0.5%;
}

.navbarItem:hover { 
    text-decoration: none; 
    color: var(--color4); 
    background-color: var(--color2);
    font-weight: bold;
 }

 #connectbutton {
    margin-left: 60vw;
    font-family: 'Exo', sans-serif;
    width: 10em;
  /*  height: 2em; */
    border: 1px solid var(--color1);
    justify-self: center; /* horizontal align in grid */
    align-self: start; /* vertical align in grid */
  /*    margin: 0 5vw 0 0; */
    border-radius: 10%;
    color: var(--color3);
    background-color: var(--color2);
    box-shadow: 0.6em 0.6em 2em 0.5em var(--color1), 0 0 0.4em 0.4em var(--color1); 
    transition: color .3s, background-color .2s, box-shadow .25s; /* Animation */
    grid-area: reset;
  }
  
  #connectbutton:hover {
    color: var(--color4);
    background-color: var(--color1);
    box-shadow: 0 0 0.4em 0.4em var(--color4); 
  }
  
  #connectbutton:active {
    color: var(--color3);
    background-color: var(--color1);
    box-shadow: 0 0 0.4em 0.4em var(--color4); 
  }