@import url('https://fonts.googleapis.com/css2?family=Exo:wght@300&display=swap');

:root {
  --color1: #000000;
  --color2: #323232;
  --color3: #FF1E56;
  --color4: #FFAC41;
  --color5: #000441;
}

html, body
{
    height: 100%;
    margin: 0;
    overflow: hidden;
}

body {
  font-family: 'Exo', sans-serif;
  height: 100%;
  background:       
  linear-gradient(190deg, transparent, 60%, var(--color5)),
  linear-gradient(80deg, transparent, 80%, var(--color4)),
  linear-gradient(350deg, transparent, 50%, var(--color3)),
  linear-gradient(170deg, transparent, 50%, var(--color3)),
  repeating-radial-gradient(circle at center, var(--color4), 10%, var(--color3), var(--color4) 50%, var(--color3), 75%, var(--color4) 100%);
  min-height: 90vh; /* fix for body bigger than viewport. do not set width */
  color: var(--color4);
  font-weight: bold;
  margin-bottom: 0;
  
}


#content {
  margin-top: 3%;
  opacity: 1;
}

